<h1 style="text-align: center"><%= @user.name %>'s Dashboard</h1><hr>

<div id="shows_container" style="padding-left: 20px">
    <h2>Shows I've Created:</h2>
        <ul>
        <% @user.created_shows.each do |show| %>
            <li><%= link_to show.title, user_show_path(current_user, show) %></li>
        <% end %>
        </ul>
        <hr>
</div>

<div id="contributions_container" style="padding-left: 20px">
    <h2>Shows I've Contributed to:</h2>
        <ul>
        <% @user.contributed_shows.uniq.each do |show| %>
        <li><%= link_to show.title, show %></li> <br>
            <% show.contributions.where(contributor: current_user).each do |contribution| %>
            <p>My Contribution: <%= link_to contribution.title, user_contribution_path(current_user, contribution) %></p>
            <% end %>
        <% end %>
        </ul>
        <hr>
</div>