<div style="text-align: center">
  <img id="pit-gif" src="/images/PIT-Final---SHORT.gif" alt="Welcome to The PIT." width="800"/>

    <iframe src="/audio/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>

    <audio id="player" autoplay><source src="/audio/bit_by_bit.wav" type="audio/mp3"></audio>
    
</div>