<div style="text-align: center">

  <img id="pit-gif" src="/images/PIT-Final---SHORT.gif" alt="Welcome to The PIT." width="800"/>

  <iframe src="/audio/bit_by_bit.wav" allow="autoplay" id="audio" style="display:none"></iframe>

</div>