<h1>Coming Soon...</h1>

<div id="show_container" style="padding-left: 20px">
    <h2><%= @show.title %></h2>

    <h3>Synopsis:</h3><hr>
    <p><%= @show.synopsis %></p>

    <h3>Characters:</h3><hr>
    <p><%= @show.character_list %></p>

    <%= button_to "Contribute To This Show", %>
</div>

